;; karabiner config, using goku: https://github.com/yqrashawn/GokuRakuJoudo
;; derived from https://github.com/kchen0x/k-goku/blob/master/karabiner.edn
;; Note that I use colemak, so the keys here are my translated keys, such as "s" for "r"

{:profiles {:goku {:default true}}
 :templates {:launch "osascript -e 'tell application \"%s\" to activate'"
             :open "open %s"}
 :layers {:hyper-mode {:key :caps_lock :alone {:key :escape}}}
 :simlayers {:app-mode {:key :a}
             :raycast-mode {:key :s}}

 :main [{:des "Hyper Mode - Simple"
         :rules [:hyper-mode
                 [:spacebar :!Cspacebar]]}

        ; Colemak "R" is "S"
        {:des "Raycast Mode [S]"
         :rules [:raycast-mode
                 [:k [:open "raycast://extensions/raycast/emoji-symbols/search-emoji-symbols"]]
                 [:n [:open "raycast://extensions/raycast/snippets/search-snippets"]]
                 [:c [:open "raycast://extensions/raycast/raycast/confetti"]]]}

        {:des "Hyper Mode - Misc"
         :rules [:hyper-mode
                 [:escape :caps_lock]
                 [:grave_accent_and_tilde :!CS5]]}

        {:des "App Mode [A] as Trigger Key"
         :rules [:app-mode
                 [:r [:launch "Plexamp"]]
                 [:d [:launch "Safari"]]
                 [:c [:launch "Calendar"]]
                 [:semicolon [:launch "Obsidian"]]
                 [:m [:launch "Mail"]]]}
 ]

 :applications {:Terminals ["^com\\.apple\\.Terminal$"
                            "^com\\.googlecode\\.iterm2$"]}}
